* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-1 {
    height: 42.5px;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.blue {
    background-color: #428df5;
}

.lightblue {
    background-color: #82b6ff;
}

.orange {
    background-color: #ffc14d;
}
